name: Aqua
on:
  push:
    branches:
      - main

jobs:
  aqua:
    name: Aqua scanner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Aqua scanner
        uses: docker://aquasec/aqua-scanner
        with:
          # Updated args line with skip-policy-bundle flag
          args: trivy fs --scanners vuln,misconfig,secret --skip-policy-bundle
          # Optional: add --debug if you want verbose logs
          # args: trivy fs --scanners vuln,misconfig,secret --skip-policy-bundle --debug
        env:
          AQUA_KEY: ${{ secrets.AQUA_KEY }}
          AQUA_SECRET: ${{ secrets.AQUA_SECRET }}
          GITHUB_TOKEN: ${{ github.token }}
          TRIVY_RUN_AS_PLUGIN: 'aqua'
          # Add these only if needed:
          # AQUA_URL: https://api.supply-chain.cloud.aquasec.com
          # CSPM_URL: https://api.cloudsploit.com
          # For http/https proxy configuration add env vars: HTTP_PROXY/HTTPS_PROXY, CA-CERT (path to CA certificate)
