name: Aqua
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  aqua:
    name: Aqua scanner
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Update Aqua plugin to the latest version (important!)
      - name: Update Aqua plugin
        run: |
          docker run --rm aquasec/aqua-scanner plugin update aqua

      # Step 3: Run Aqua scanner against production environment
      - name: Run Aqua scanner
        uses: docker://aquasec/aqua-scanner
        with:
          # Runs vuln + secret scanners only, no policy bundle fetched
          args: trivy fs --scanners vuln,secret --skip-policy-bundle
        env:
          AQUA_KEY: ${{ secrets.AQUA_KEY }}
          AQUA_SECRET: ${{ secrets.AQUA_SECRET }}
          AQUA_URL: https://api.supply-chain.cloud.aquasec.com
          CSPM_URL: https://api.cloudsploit.com
          TRIVY_RUN_AS_PLUGIN: 'aqua'
          GITHUB_TOKEN: ${{ github.token }}
